.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh; /* Full height of the viewport */
  background-color: transparent; /* Light background color */
  padding: 10px;
  text-align: center;
}

.card-container {
  display: flex; /* Enables horizontal stacking */
  flex-wrap: nowrap; /* Prevent wrapping to the next line */
  gap: 10px; /* Space between the cards */
  justify-content: center; /* Center all cards */
  padding: 3%; /* Reduce padding inside the container */
  padding-top: 2%; /* Reduce space between header and cards */
  max-width: 100%; /* Allow it to span the full width of the container */
  margin: 0 auto;
  background-color: black;
  border-radius: 3%;
}

  
  .header-card {
    color:'white';
    margin-top: 6%;
  }
  .pipeline-card {
    flex: 0 1 calc(20% - 10px); /* Adjust to make the cards fit better, 5 cards per row ideally */
    max-width: 200px; /* Increase max width for better sizing */
    min-width: 180px; /* Ensure consistent minimum size for all cards */
    box-sizing: border-box; /* Ensures padding is included in width calculations */
  }

  .button-position {
    position: absolute; 
    height:6%;
    width: 10%; 
    background-color:black;
    color: white;
    /* padding:8px; */
    margin-left: 8px;
    /* margin-bottom: 2px; */
    /* padding: 6px; */
    bottom:15px;
    border-radius: 6px;
    transition-duration: 0.4s;
    top: 100px; /* Adjust the distance from the top edge */
    left: 10px; /* Adjust the distance from the left edge */
    z-index: 1000; /* Ensure it stays on top of other elements */
}


.button-position:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

