.home-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 88.7vh; /* Make sure it takes the full viewport height */
    background-color: #f8f9fa; /* Optional: Add a subtle background color */
  }

.card-container {
    display: flex; /* Enables horizontal stacking */
    flex-wrap: wrap; /* Allows wrapping to the next line if necessary */
    gap: 10px; /* Space between the cards */
    justify-content: center; 
  }
  
  .pipeline-card {
    flex: 0 1 calc(25% - 5px); /* Each card takes up 25% of the width (4 cards per row) */
    max-width: 165px; /* Optional: Maximum width for each card */
    box-sizing: border-box; /* Ensures padding is included in width calculations */
  }

  .button-position {
    position: absolute; 
    height:6%;
    width: 10%; 
    background-color:black;
    color: white;
    /* padding:8px; */
    margin-left: 8px;
    /* margin-bottom: 2px; */
    /* padding: 6px; */
    bottom:15px;
    border-radius: 6px;
    transition-duration: 0.4s;
    top: 100px; /* Adjust the distance from the top edge */
    left: 10px; /* Adjust the distance from the left edge */
    z-index: 1000; /* Ensure it stays on top of other elements */
}


.button-position:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}