.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh; /* Full height of the viewport */
    background-color:transparent; /* Light background color */
    padding: 20px;
    text-align: center;
  }
  

  .content-container {
    max-width: 1300px; /* Limit width for better readability */
    margin: 0 auto;
    background-color: black;
    border-radius: 3%;
  }

  .h1-style {
    margin-top: 3%;
    font-size: 2.5rem;
    color: white; /* Darker text color for contrast */
    margin-bottom: 10px;
  }


  .h2-style {
    margin-top: 2%;
    font-size: 1.5rem;
    color: white; /* Darker text color for contrast */
    margin-bottom: 0px;
  }

  .description {
    margin: 10%;
    margin-top: 5%;
    font-size: 1.2rem;
    color: white; /* Muted text color */
    margin-bottom: 25px;
    line-height: 1.6; /* Better readability */
  }


  .button-home {
    display: flex;
    align-items: center; /* Vertically center content */
    justify-content: center; /* Horizontally center content */
    gap: 0.5rem;
    height: 50px;
    width: 200px; 
    background-color: black;
    color: white;
    border: 3px solid #ffffff;
    border-radius: 12px;
  
    font-size: 1rem;
    transition-duration: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto; /* Center horizontally and add spacing */
    transition: background-color 0.4s, color 0.4s, border-color 0.4s;
  }

  .button-home:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }



.img-class-home {
  margin-top: 2%;
    width: 100px; /* Width of the logo */
    height: 100px; /* Height of the logo */
    transition: transform 0.3s ease; /* Smooth scaling for the logo */
}

.img-class-home:hover {
    transform: scale(1.1); /* Scales the entire container (logo + text) */
    color: 	#A7C7E7; /* Changes text color to green on hover */
}

