.pipeline-card {
    background-color: #ffffff;;
    border-radius: 16px;
    padding: 4px;
    margin-bottom: 1px;
    width: 16rem; 
    height: 14.1rem;
    position: relative;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 65px;
    display: flex;
    border-radius: 6px;
    box-shadow: 0px 0px 20px rgba(68, 66, 66, 0.4);
  }
  
  .pipeline-card h2 {
    font-size: 24px;

    margin-left: 10px;
    margin-right: 10px;
  }
  
  .pipeline-card p {
    margin-top: 10%;
    font-size: 16px;
    margin-bottom: 4px;
  }
  
  .pipeline-card .card-img-top {
    object-fit: cover;
    height: 50%;
  }

.success-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: green;
    width: 30px;
    height: 30px;
    animation: successAnimation 0.5s ease-in-out;
  }

  .checkmark-container {
    display: flex;
    z-index: "10vh";
    margin-top: 14%;
    margin-bottom: 30%;
    flex-direction: column; /* Align text below the checkmark */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    height: 100%; /* Ensure it takes up the full card space */
  }
  

.cardtext{
    margin-top: 1.5%;
}

  .loading-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }



.button-position:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}